textarea {
  width: 40%;
  height: 50px;
  border: 1px black solid;
  border-radius: 2px;
  position: static;
}
label {
  font-weight:bold;
  width:100px;
  font-size:14px;
}
.contain_stuff {
  margin: 5%;
}
#submit_form {
  border-radius: 5px;
  width: 150px;
  height:25px;
  /*margin-left: 25%;*/
  background: #333333;
  cursor: pointer;
  color: #FFFFFF;
}
