textarea {
  width: 40%;
  height: 50px;
  border: 1px black solid;
  border-radius: 2px;
  padding: 2px;
}
.box {
  width: 500px;
  background: #FFFFFF;
  box-shadow: 2px 2px grey;
}
label {
  font-weight:bold;
  width:100px;
  font-size:14px;
}
