.header .Content h2 {
  text-align: left;
  padding-left: 175px;
  padding-top: 25px;
}

.header .Content .quizzes {
  padding-left: 200px;
}

.header .Content .assignments {
  padding-left: 200px;
}
